*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8F9;
}

ul,
ol,
menu {
    list-style: none;
}

header{
    background-color: #FFFFFF;
    margin-bottom: 50px;
}

.logo-img{
    height: 100px;
}

.main-title{
    display: inline-block;
    font-size: 60px;
    line-height: 100px;
    vertical-align: top;
    
}


.container {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.navbar{
    border-bottom: 3px solid #F6F8F9;
    margin: 0 50px;
}

.nav-button{
    font-size: 15px;
    background-color: #FFFFFF;
    border-radius: 30%;
    padding: 10px;
    margin: 10px;
}

#add-task {
    color: #FFFFFF;
    background-color: #47ADF1;
    border-color: #47ADF1;
}

#add-section {
    color: #C8CED2;
    border-color: #C8CED2;
}

.task-section {
    color: #444851;
    font-weight: bold;
    font-size: 30px;
    padding: 25px 50px;
    list-style-position: outside;
}

.task-title {
    font-weight: 500;
    font-size: 25px;
    margin: 10px;
    list-style-position: outside;
}

.task-tag {
    font-size: 15px;
    border-radius: 30%;
    padding: 5px;
    color: #FFFFFF
}

.editorial {
    background-color: #45ABEA;
}

.q1goals{
    background-color: #9C72E4;
}

.recruiting{
    background-color: #64C0A9;
}

.website{
    background-color: #D863A1;
}

.sales{
    background-color: #B0C926;
}

.checkbox{
    border-radius: 50%;
    border: 1px solid #444851;
}