*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

.logo-img{
    height: 100px;
}

.main-title{
    display: inline-block;
    font-size: 50px;
}